<header class="flex items-center bg-zinc-900 py-4 px-8 shadow-xl justify-between">
    <a href="/" aria-label="Home" class="flex items-center gap-4 bg-[#18171e] rounded-lg px-4">
        <img
                src="/img/pockethost-cloud-logo.jpg"
                alt="logo"
                width="450"
                height="450"
                class="w-14 h-14 rounded-lg"
        />

        <h1 class="text-green-700 dark:text-white font-bold text-2xl"
        >PocketHost</h1
        >
    </a>

    {% set linkCSS = "block py-2 px-3 rounded hover:text-white hover:bg-zinc-800" %}
    <div class="md:flex hidden gap-2">
        <a class='{{ linkCSS }}' href='/'>Home</a>
        <a class='{{ linkCSS }}' href='/blog'>Blog</a>
        <a class='{{ linkCSS }}' href='/docs/overview/introduction'>Docs</a>
        <a class='{{ linkCSS }}' href='/support'>Support</a>
        <a class='{{ linkCSS }}' href='https://github.com/pockethost/pockethost'><i class="fa-brands fa-github"></i></a>
    </div>

    <div class="block md:hidden">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <i class="fa-regular fa-bars text-2xl"></i>
            </label>

            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-2xl bg-base-100 border-4 border-base-200 rounded-box w-52">
                <li><a class='py-3 font-bold' href='/'>Home</a></li>
                <li><a class='py-3 font-bold' href='/blog'>Blog</a></li>
                <li><a class='py-3 font-bold' href='/docs/overview/introduction'>Docs</a></li>
                <li><a class='py-3 font-bold' href='/support'>Support</a></li>
                <li><a class='py-3 font-bold' href='https://github.com/pockethost/pockethost'><i class="fa-brands fa-github"></i> GitHub</a> </li>
            </ul>
        </div>
    </div>
</header>