**/.DS_Store
**/node_modules
.secret
.vscode
**/*.out
**/*.log
.idea
**/.env
**/.env.*
.pbincache
osx
pocketbase
.svelte-kit
live-data
dist
.pockethost

// This is needed because Docker bind mounts will copy this file
src/mothership-app/pb_hooks/src/versions.js
