.svelte-kit
dist
mount
.data
attic
.dockercache
build
*.njk
_site
forks

packages/pockethost/src/mothership-app/pb_hooks/src/versions.cjs
packages/pockethost/src/mothership-app/pb_hooks/types/types.d.ts
packages/pockethost/src/instance-app/types/types.d.ts
