{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-svelte",
    "prettier-plugin-jsdoc"
  ],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
