.svelte-kit
dist
mount
.data
attic
.dockercache
build
*.njk
_site
forks

// This is needed because Docker bind mounts will copy this file
src/mothership-app/pb_hooks/src/versions.js

src/mothership-app/migrations