# ================
# Marketing/blog
# ================
pockethost.lvh.me {
	reverse_proxy localhost:8080
	tls internal
}


# ================
# Dashboard
# ================
app.pockethost.lvh.me {
	reverse_proxy localhost:5173
	tls internal
}




# ================
# Mothership
# ================
pockethost-central.pockethost.lvh.me {
	reverse_proxy localhost:8090
	tls internal
	log {
		output stdout
		level DEBUG
	}
}

# ================
# Edgeworker
# ================
*.pockethost.lvh.me {
	reverse_proxy localhost:3000
	tls internal
	log {
		output stdout
		level DEBUG
	}
}