body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

:root {
  --bs-success-rgb: 46, 204, 113;
}

.btn.btn-primary,
.btn.btn-outline-primary,
.btn.btn-light {
  --bs-btn-border-radius: 50px;
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 8px;
}

.btn.btn-primary {
  --bs-btn-bg: #965de9;
}

.btn.btn-outline-primary {
  --bs-btn-color: #965de9;
  --bs-btn-border-color: #965de9;
  --bs-btn-hover-bg: #965de9;
  --bs-btn-hover-border-color: #965de9;
  --bs-btn-active-bg: #965de9;
  --bs-btn-active-border-color: #965de9;
}

.dropdown-menu {
  --bs-dropdown-item-padding-y: 12px;
}

.alert {
  --bs-alert-border-radius: 18px;
}

.form-control {
  border-radius: 18px;
}
