---
title: Pricing
layout: layouts/home.njk
---

<div class='container py-8 mx-auto'>
    <div class="relative isolate px-6 py-24 sm:py-32 lg:px-8">
        {# Background gradient #}
        <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
            <div class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>

        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
            <h2 class="text-base font-semibold leading-7 text-primary">Pricing</h2>
            <p class="mt-2 text-4xl font-bold tracking-tight sm:text-5xl">Simple and Transparent</p>
        </div>

        <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8">Our pricing structure offers two straightforward hosting solutions: a robust Free Plan for those just getting started, and a feature-rich Paid Plan for those looking to take their hosting experience to the next level.</p>

        <div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 bg-white sm:mx-8 lg:mx-0 rounded-t-3xl sm:rounded-b-none lg:rounded-tr-none lg:rounded-bl-3xl">
                <h3 id="tier-hobby" class="font-semibold leading-7 text-primary">Hobby</h3>

                <p class="mt-4 flex items-baseline gap-x-2">
                    <span class="text-5xl font-bold tracking-tight text-gray-900">Free</span>
                </p>

                <p class="mt-6 text-base leading-7 text-gray-600">The perfect plan if you&#039;re just getting started.</p>

                <ul role="list" class="mt-8 space-y-3 text-sm leading-6 sm:mt-10 text-gray-600">
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        5 instances
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        50 mb of storage
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        100 minutes / month
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        Access to our discord channel
                    </li>
                </ul>

                <div class='mt-8'>
                    <a href='https://app.pockethost.io/' class='btn btn-primary btn-outline btn-block'>Get started today</a>
                </div>
            </div>

            <div class="rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10 relative bg-gray-900 shadow-2xl">
                <h3 id="tier-enterprise" class="font-semibold leading-7 text-primary">Pro</h3>

                <p class="mt-4 flex items-baseline gap-x-2">
                    <span class="text-5xl font-bold tracking-tight text-white">$20</span>
                    <span class="text-base text-gray-400">/month</span>
                </p>

                <p class="mt-6 text-base leading-7 text-gray-300">Dedicated support and infrastructure.</p>

                <ul role="list" class="mt-8 space-y-3 text-sm leading-6 sm:mt-10 text-gray-300">
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        Everything in the Free Plan
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        Unlimited instances
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        10gb of storage
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        Unlimited minutes
                    </li>
                    <li class="flex items-center gap-x-3">
                        <i class="fa-regular fa-check text-primary"></i>
                        Priority help on the discord channel
                    </li>
                </ul>

                <div class='mt-8'>
                    <a href='https://app.pockethost.io/' class='btn btn-primary btn-block'>Get started today</a>
                </div>
            </div>
        </div>
    </div>
</div>