---
bodyClass: bg-[#111111]
preheader: Login Alert
---

<x-main>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" background="https://s6.imgcdn.dev/YiDOO2.png"
        style="background-size:cover; background-color:#111111;background-position:center;"
        class="bg-[#111111] font-sans relative py-10">
        <tr>
            <td align="center" valign="top">
                <!-- <img src="https://pockethost.io/pockethost-cloud-logo.png" class="absolute top-0 left-0 z-0 object-fill w-full h-full pointer-events-none opacity-80 blur-3xl" alt=""> -->

                <table width="100%" cellpadding="0" cellspacing="0" border="0"
                    class="max-w-[552px] px-10 py-6 mx-auto bg-[#111111]/60 border-solid border border-white/20 rounded-lg shadow z-10 relative">
                    <tr>
                        <td>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td class="flex flex-row items-center justify-start font-bold text-center ">
                                        <img src="https://pockethost.io/pockethost-cloud-logo.png" alt="Logo"
                                            class="max-w-[60px]">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-3 text-start figtree"
                                        style="font-family: 'Figtree', Arial, sans-serif;">
                                        <h1 class="mb-2 text-2xl font-bold text-white">🚨 New Login Alert</h1>
                                        <p class="mt-4 text-gray-400">We noticed a login to your Pockethost account from a new location.</p>
                  <p class="mt-2 text-gray-400">If this was you, you may disregard this email.</p>
                                        <p class="mt-4 font-bold text-gray-300">If this wasn't you, you should immediately change your {APP_NAME} account password to revoke access from all other locations.</p>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                            <td class="inline-block px-6 py-3 mt-2 font-semibold text-white transition rounded-md bg-ph">
                                                <a href="{APP_URL}/_/#/auth/reset-password/{TOKEN}" class="text-white no-underline" target="_blank" rel="noopener">Change Password</a>
                                            </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-xs text-gray-500 text-start figtree"
                                        style="font-family:'Figtree', Arial, sans-serif;">
                                        <p>&copy; 2025 Pockethost. All rights reserved.</p>
                                        <p>If you need assistance, please contact our support team.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</x-main>